---
import Image from "../components/Image.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bracelets">
  <section>
    <h1 class="text-center mt-5 mb-5">Bracelets</h1>
    <div class="container">
      <div class="row">
        <Image img_url="/image/bracelet-1.jpg" />

        <Image img_url="/image/bracelet-2.jpg" />

        <Image img_url="/image/bracelet-3.jpg" />

        <Image img_url="/image/bracelet-4.jpg" />

        <Image img_url="/image/bracelet-5.jpg" />

        <Image img_url="/image/bracelet-6.jpg" />
      </div>
    </div>
  </section>
</Layout>
