---
import Image from "../components/Image.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout title="Bracelets">
    <section>
        <h1 class="text-center mt-5 mb-5">Bracelets</h1>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <Image img_url="/public/image/bracelet-1.jpg"/>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <Image img_url="/public/image/bracelet-2.jpg"/>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <Image img_url="/public/image/bracelet-3.jpg"/>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <Image img_url="/public/image/bracelet-4.jpg"/>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3 mb-5">
                    <Image img_url="/public/image/bracelet-5.jpg"/>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3 mb-5">
                    <Image img_url="/public/image/bracelet-6.jpg"/>
                </div>
            </div>
        </div>
    </section>
   
   
</Layout>