---
import Map from "../components/Map.astro";
import Layout from "../layouts/Layout.astro";
import "../style/style.css";
---

<Layout title="Contact">
  <Map />
  <section>
    <div class="container w-100">
      <div class="d-flex justify-content-center form">
        <form id="contact">
          <h2 class="text-center">Send Message</h2>
          <div class="mb-3">
            <label for="name">Name</label>
            <input
              type="text"
              name="name"
              placeholder="Mg Mg"
              id="text"
              class="form-control p-3 mt-3 form-input"
            />
          </div>
          <div class="mt-3 mb-3">
            <label for="email">Email</label>
            <input
              type="email"
              name="email"
              placeholder="Email"
              id="email"
              class="form-control p-3 mt-3 form-input"
            />
          </div>
          <div class="mt-3 mb-3">
            <label for="phone">Phone</label>
            <input
              type="number"
              name="phone-number"
              placeholder="09*******"
              id="phone"
              class="form-control p-3 mt-3 form-input"
            />
          </div>
          <div class="mt-3 mb-3">
            <label for="message">Message</label>
            <textarea
              name="message"
              id="message"
              cols="30"
              rows="5"
              placeholder="Type Here"
              class="form-control p-3 mt-3 form-input"></textarea>
          </div>
          <div class="d-flex justify-content-center">
            <button
              class="px-5 py-3 mt-3 mb-3 border border-0 bg-primary text-white fs-6"
              type="submit">Send</button
            >
          </div>
        </form>
      </div>
    </div>
  </section>
</Layout>