---
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Image from "../components/Image.astro";
import Layout from "../layouts/Layout.astro";


---
<Layout title="earrings">
    <section>
        <Header/>
        <h1 class="text-center mt-5 mb-5">Earrings</h1>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <Image img_url="/public/image/earring1.png"/>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <Image img_url="/public/image/earring2.png"/>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <Image img_url="/public/image/earring3.png"/>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <Image img_url="/public/image/earring4.png"/>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3 mb-5">
                    <Image img_url="/public/image/earring5.png"/>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3 mb-5">
                    <Image img_url="/public/image/earring6.png"/>
                </div>
            </div>
        </div>
    </section>
   
 
</Layout>