---
import Image from "../components/Image.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="earrings">
  <section>
    <h1 class="text-center mt-5 mb-5">Earrings</h1>
    <div class="container">
      <div class="row">
        <Image img_url="/image/earring1.png" />

        <Image img_url="/image/earring2.png" />

        <Image img_url="/image/earring3.png" />

        <Image img_url="/image/earring4.png" />

        <Image img_url="/image/earring5.png" />

        <Image img_url="/image/earring6.png" />
      </div>
    </div>
  </section>
</Layout>
