---
import Image from "../components/Image.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="engage">
  <section>
    <div class="container">
      <h1 class="text-center mt-5 mb-4">Engage Rings</h1>
      <div class="row">
        <div class="col-13 col-md-6 col-lg-3">
          <Image img_url="/public/image/engage 1.png" />
        </div>
        <div class="col-13 col-md-6 col-lg-3">
          <Image img_url="/public/image/engage 2.png" />
        </div>
        <div class="col-13 col-md-6 col-lg-3">
          <Image img_url="/public/image/engage 3.png" />
        </div>
        <div class="col-13 col-md-6 col-lg-3">
          <Image img_url="/public/image/engage 4.png" />
        </div>
        <div class="col-13 col-md-6 col-lg-3 mt-3 mb-3">
          <Image img_url="/public/image/engage 5.png" />
        </div>
        <div class="col-13 col-md-6 col-lg-3 mt-3 mb-3">
          <Image img_url="/public/image/engage 6.png" />
        </div>
      </div>
    </div>
  </section>
 
  
</Layout>
