---
import Collection from "../components/Collection.astro";
import Design from "../components/Design.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <Header />

  <section class="story position-relative">
    <div class="story-img position-absolute"></div>

    <div class="story-content container d-flex flex-column justify-content-end">
      <h1 class="text-center">Our Story</h1>
      <div class="d-flex justify-content-center">
        <p class="fs-4 lh-lg">
          Lörem ipsum prepoliga Sofie Björklund polytropi tetrede trende.
          Fakusade öfenönade: messa och epikyktig halvtaktsjobb, adade.
        </p>
      </div>
    </div>
  </section>

  <Design />
  <div>
    <h1 class="text-center mb-5">Collections</h1>
    <Collection title="Rings" img_url="/public/image/Rings.jpg"  />
    <Collection title="Engage Rings" img_url="/public/image/Engage Rings.jpg"  />
    <Collection title="Necklace" img_url="/public/image/necklace.jpg"  />
    <Collection title="Earrings" img_url="/public/image/Earrings.jpg"  />
    <Collection title="Bracelets" img_url="/public/image/Bracelet.jpg"  />
    <Collection title="Lockets" img_url="/public/image/Locket.jpg"  />
  </div>
</Layout>
