---
import Image from "../components/Image.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Locket">
  <section>
    <h1 class="text-center mt-5 mb-5">Lockets</h1>
    <div class="container mb-5">
      <div class="row">
        <Image img_url="/public/image/locket-1.jpg" />

        <Image img_url="/public/image/locket-2.jpg" />

        <Image img_url="/public/image/locket-3.jpg" />

        <Image img_url="/public/image/locket-4.jpg" />
      </div>
    </div>
  </section>
</Layout>
