---
import Image from "../components/Image.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="necklace">
  <section>
    <h1 class="text-center mt-5 mb-4">Necklaces</h1>
    <div class="container">
      <div class="row">
        <Image img_url="/public/image/necklace-1.jpg" />

        <Image img_url="/public/image/necklace-2.jpg" />

        <Image img_url="/public/image/necklace-3.jpg" />

        <Image img_url="/public/image/necklace-4.jpg" />

        <Image img_url="/public/image/necklace-5.jpg" />

        <Image img_url="/public/image/necklace-6.jpg"/>
      </div>
    </div>
  </section>
</Layout>
