---
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Image from "../components/Image.astro";
import Layout from "../layouts/Layout.astro";


---
<Layout title="necklace">
    <section>
        <Header/>
        <h1 class="text-center mt-5 mb-4">Necklaces</h1>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <Image img_url="/public/image/necklace-1.jpg" />
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <Image img_url="/public/image/necklace-2.jpg" />
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <Image img_url="/public/image/necklace-3.jpg" />
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <Image img_url="/public/image/necklace-4.jpg" />
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3 mb-3">
                    <Image img_url="/public/image/necklace-5.jpg" />
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3 mb-3">
                    <Image img_url="/public/image/necklace-6.jpg" />
                </div>
            </div>
        </div>
    </section>
    
   
</Layout>