---
import Layout from "../layouts/Layout.astro";
import Image from "../components/Image.astro";
---

<Layout title="rings">
  <section>
    <div class="container mb-5">
      <h1 class="text-center mb-5 mt-5">Rings</h1>
      <div class="row">
        <Image img_url="/image/ring-1.jpg"/>

        <Image img_url="/image/ring-2.jpg"/>

        <Image img_url="/image/ring-3.jpg"/>

        <Image img_url="/image/ring-4.jpg"/>

        <Image img_url="/image/ring-5.jpg"/>

        <Image img_url="/image/ring-6.jpg " />
      </div>
    </div>
  </section>
</Layout>
