---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Services">
  <section>
    <div class="container-fluid">
        <div class="row mb-3">
          <div class="col-4 pt-1 p-0 m-0">
            <div class="image_Layer1"></div>
          </div>
          <div class="col-4 p-0 m-0">
            <div class="image_Layer2"></div>
          </div>
          <div class="col-4 pt-1 p-0 m-0">
            <div class="image_Layer3"></div>
          </div>
        </div>
    </div>
  </section>
</Layout>
