---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Services">
  <section>
    <div class="container">
      <div class="row mb-3">
        <div class="col-4 pt-1 p-0 m-0">
          <div class="service-img-layer1"></div>
        </div>
        <div class="col-4 p-0 m-0">
          <div class="service-img-layer2"></div>
        </div>
        <div class="col-4 pt-1 p-0 m-0">
          <div class="service-img-layer3"></div>
        </div>
        <div class="d-flex justify-content-center text-center services-text">
          <p>
            Jewellery Shop မှ ကောင်းမွန်သော ဝန်ဆောင်မှုများ
          </p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row d-flex my-5">
        <div
          class="col-12 col-lg-6 col-md-6 px-5 pt-5 mt-4 order-1 order-lg-0 order-md-0 design-text d-text mb-3 text-lg-start text-md-start text-center"
        >
          <h3 class="mb-3 fw-bold">ခေတ်မှီဆန်းသစ်သော လက်ရာများ</h3>
          <p class="lh-lg text-start">
            Lörem ipsum fotobomba asamma Pinterest fang i pseudopod kreddig
            nimilig terarade, co-creation fast posk. Visukal seminas bitropi
            global hektar liksom vandrande skolbuss och nyckelord danyn men
            anabel ådosk.
          </p>
        </div>
        <div
          class="col-12 col-lg-6 col-md-6 position-relative order-0 order-lg-1 order-md-1 new-design px-5 pt-5 mt-4 mb-4 text-lg-start text-center"
        >
          <div class="design-spot-1 position-absolute"></div>
          <img
            src="/image/service-bg2.png"
            alt="new design"
            class="design-img"
          />
        </div>
      </div>
      <div class="row d-flex my-5">
        <div
          class="col-12 col-lg-6 col-md-6 position-relative new-design px-5 pt-5 mt-4 mb-4 text-lg-start text-center"
        >
          <div class="design-spot-2 position-absolute"></div>
          <img
            src="/image/service-bg1.png"
            alt="new design"
            class="design-img1"
          />
        </div>
        <div
          class="col-12 col-lg-6 col-md-6 px-5 pt-5 mt-4 design-text d-text1 mb-3 text-lg-start text-md-start text-center"
        >
          <h3 class="mb-3 fw-bold">Customize Design</h3>
          <p class="lh-lg text-start">
            Lörem ipsum fotobomba asamma Pinterest fang i pseudopod kreddig
            nimilig terarade, co-creation fast posk. Visukal seminas bitropi
            global hektar liksom vandrande skolbuss och nyckelord danyn men
            anabel ådosk.
          </p>
        </div>
      </div>
      <div class="row d-flex my-5">
        <div
          class="col-12 col-lg-6 col-md-6 px-5 pt-5 mt-4 order-1 order-lg-0 order-md-0 design-text d-text mb-3 text-lg-start text-md-start text-center"
        >
          <h3 class="mb-3 fw-bold">အရည်သွေးမြင့်လက်ဝတ်ရတနာများ</h3>
          <p class="lh-lg text-start">
            Lörem ipsum fotobomba asamma Pinterest fang i pseudopod kreddig
            nimilig terarade, co-creation fast posk. Visukal seminas bitropi
            global hektar liksom vandrande skolbuss och nyckelord danyn men
            anabel ådosk.
          </p>
        </div>
        <div
          class="col-12 col-lg-6 col-md-6 position-relative order-0 order-lg-1
           order-md-1 new-design px-5 pt-5 mt-4 mb-4 text-lg-start text-center"
        >
          <div class="design-spot-1 position-absolute"></div>
          <img
            src="/image/service-bg3.png"
            alt="new design"
            class="design-img"
          />
        </div>
      </div>
    </div>
  </section>
</Layout>
