@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap);
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: Poppins;
}

body {
  background: none;
}
.address p {
  font-size: 1rem !important;
}
i {
  font-size: 1.5rem !important;
}

.navbar {
  background-color: #261340;
}

.nav-item {
  margin: 0 3.125rem;
}

.nav-item a:hover {
  color: rgba(248, 209, 12, 0.886) !important;
  transition: 0.3s ease-in-out all;
}
.navbar-toggler {
  background-color: #f2f2f2;
}
.story {
  background-image: url(/image/stroy-bg.jpg);
  background-size: cover;
  height: 100vh;
  z-index: 0;
}
.story-img {
  background-color: #361d5933;
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0;
}
.story-content {
  height: 100%;
  width: 60%;
  padding-bottom: 3.7rem;
  z-index: 2;
  color: #f2f2f2;
}

.story-content h1 {
  margin-bottom: 5rem;
}

.story-content p {
  text-align: justify;
}

.mt-7 {
  margin-top: 5rem;
}

.Design_layout {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: 100px 100px;
}

.layout > img {
  width: 100%;
}
.Design_img-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-bottom: 3rem;
  margin-right: 0.2rem;
}
.Design_img-2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.Design_img-3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.Design_img-4 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: 0.3rem;
  margin-left: 0.5rem;
}
.spot {
  top: 7rem;
  right: -3rem;
  z-index: -1;
}

.Design-content {
  margin: 3rem 0;
}

.Design-content > h2,
.Design-content > p {
  color: #261340;
}

.collections {
  margin-top: 9rem;
}

.Collection_iteam_link {
  text-decoration-line: none;
  border-bottom: 2px solid #000;
  transition: 0.3s ease-in-out all;
}
.Collection_iteam_link:hover {
  border-bottom: 3px solid rgba(248, 209, 12, 0.886);
  color: #000;
}

.footer-link {
  color: #361d59;
  text-decoration: none;
}

@media (max-width: 770px) {
  .story-content {
    width: 100% !important;
    padding-bottom: 5.5rem;
  }

  .story-content h1 {
    margin-bottom: 3.5rem;
  }

  .collections {
    margin-top: 0;
}

.Design-content {
  margin: 7rem 0 4rem 0;
}
}

@media (max-width: 430px) {
  .story-content {
    padding-bottom: 3.5rem;
  }
}

@media (max-width: 330px) {
  .story-content {
    padding-bottom: 1rem;
  }
}
