@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap);
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: Poppins;
}

body {
  background: none;
}
.address p {
  font-size: 1rem !important;
}
i {
  font-size: 1.5rem !important;
}


.navbar {
  background-color: #261340;
}

.nav-item {
  margin: 0 3.125rem;
}

.nav-item a:hover {
  color: rgba(248, 209, 12, 0.886) !important;
  transition: 0.3s ease-in-out all;
}
.navbar-toggler {
  background-color: #f2f2f2;
}
.story {
  background-image: url(/image/stroy-bg.jpg);
  background-size: cover;
  height: 100vh;
  z-index: 0;
}
.story-img {
  background-color: #361d5933;
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0;
}
.story-content {
  height: 100%;
  width: 60%;
  padding-bottom: 3.7rem;
  z-index: 2;
  color: #f2f2f2;
}

.story-content h1 {
  margin-bottom: 5rem;
}

.story-content p {
  text-align: justify;
}

.mt-7 {
  margin-top: 5rem;
}

.Design_layout {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: 100px 100px;
}

.layout > img {
  width: 100%;
}
.Design_img-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-bottom: 3rem;
  margin-right: 0.2rem;
}
.Design_img-2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.Design_img-3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.Design_img-4 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: 0.3rem;
  margin-left: 0.5rem;
}
.spot {
  top: 7rem;
  right: -3rem;
  z-index: -1;
}

.Design-content {
  margin: 3rem 0;
}

.Design-content > h2,
.Design-content > p {
  color: #261340;
}

.collections {
  margin-top: 9rem;
}

.Collection_iteam_link {
  text-decoration-line: none;
  border-bottom: 2px solid #000;
  transition: 0.3s ease-in-out all;
}
.Collection_iteam_link:hover {
  border-bottom: 3px solid rgba(248, 209, 12, 0.886);
  color: #000;
}
.images img {
  height: 17rem;
}

.footer-link {
  color: #361d59;
  text-decoration: none;
}
/* Our happy Customer */

.image {
  width: 7rem;
}
.happy-customer {
  background-color: #361d5933;
  height: 90vh;
}
.customer-1 {
  top: 8rem;
  left: 7%;
}
.customer-2 {
  top: 7rem;
  right: 34%;
}
.customer-3 {
  top: 2rem;
  left: 25%;
}
.customer-4 {
  top: 5rem;
  right: 11%;
}
.line-1 {
  top: 7rem;
  left: 29%;
  z-index: -1;
}
.customer-5 {
  bottom: 7rem;
  left: 7%;
}
.customer-6 {
  bottom: 2.5rem;
  left: 54%;
}
.customer-7 {
  bottom: 11rem;
  right: 7%;
}
.customer-8 {
  bottom: 4rem;
  left: 24%;
}
.line-2 {
  bottom: 8rem;
  right: 16%;
  z-index: -1;
}
.Footer {
  background-color: #261340;
  color: #f2f2f2;
}
.contact-container {
  flex-wrap: wrap;
}
.collection-contact {
  color: #f2f2f2;
  text-decoration-line: none;
}
.collection-contact:hover {
  color: #f2f2f2;
}
.contact-mail a,
.contact-phone a {
  color: #f2f2f2;
}
.service-img-layer1 {
  background-image: linear-gradient(rgba(54, 29, 89, 0.5), rgba(0, 0, 0, 0.2)),
    url("./image/service-bg1.png");
  width: 100%;
  z-index: -1;
}
.service-img-layer2 {
  background-image: linear-gradient(rgba(54, 29, 89, 0.5), rgba(0, 0, 0, 0.2)),
    url("/image/service-bg2.png");
  width: 100%;
  z-index: -1;
}
.service-img-layer3 {
  background-image: linear-gradient(rgba(54, 29, 89, 0.5), rgba(0, 0, 0, 0.2)),
    url("/image/service-bg3.png");
  width: 100%;
  z-index: -1;
}
.service-img-layer1,
.service-img-layer2,
.service-img-layer3 {
  height: 32.5625rem;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.services-text p {
  margin-top: -250px;
  color: #fff;
  font-size: 36px;
}
.P-X {
  padding-right: 3rem;
  padding-left: 3rem;
}
/* Contact */
.form {
  margin: 0 auto;
}
.form-control {
  display: block;
  width: 50%;
  background-color: #361d5933;
}
.form-input {
  width: 45rem;
}
.design-text {
  color: #361d59;
}
.design-text p {
  font-size: 1.125rem;
}
.new-design img {
  width: 26.125rem;
  height: 20.3125rem;
  z-index: 4;
  object-fit: cover;
  border-radius: 10%;
}
.design-spot-1 {
  width: 14.875rem;
  height: 14.875rem;
  top: -37px;
  right: 433px;
  border-radius: 50%;
  z-index: -1;
  background-color: rgba(54, 29, 89, 0.3);
}
.design-spot-2 {
  width: 14.875rem;
  height: 14.875rem;
  top: -68px;
  left: 285px;
  border-radius: 50%;
  z-index: -1;
  background-color: rgba(54, 29, 89, 0.3);
}
@media (max-width: 1024px) {
  .customer-8 {
    left: 28%;
  }
  .customer-6 {
    bottom: 1.5rem;
    left: 49%;
  }
  .design-spot-1 {
    right: 256px;
  }
  .design-spot-2 {
    top: -30px;
    left: 295px;
  }

  .fBL-w {
    width: 25rem;
  }
}
@media (max-width: 770px) {
  .address-header{
    width: 40% !important;
  }
  .story-content {
    width: 100% !important;
    padding-bottom: 5.5rem;
  }

  .story-content h1 {
    margin-bottom: 3.5rem;
  }

  .collections {
    margin-top: 0;
  }

  .Design-content {
    margin: 7rem 0 4rem 0;
  }
  .happy-customer {
    height: 100vh;
  }
  .image {
    width: 6rem;
  }
  .customer-6 {
    bottom: 7rem;
  }
  .customer-8 {
    left: 30%;
  }
  .line-1 {
    top: 8rem;
    left: 28%;
  }
  .line-1 img {
    width: 61%;
  }
  .line-2 {
    bottom: 12rem;
    right: 12%;
  }
  .line-2 img {
    width: 15rem;
  }
  .service-img-layer1,
  .service-img-layer2,
  .service-img-layer3 {
    height: 18.875rem;
  }
  .services-text p {
    margin-top: -200px;
    font-size: 24px;
  }
  .design-spot-1 {
    right: 160px;
    top: -15px;
    width: 11.875rem;
    height: 11.875rem;
  }
  .design-spot-2 {
    top: -20px;
    left: 145px;
    width: 11.875rem;
    height: 11.875rem;
}
  .new-design img {
    width: 16rem;
    height: 17rem;
  }

  .form-input {
    width: 40rem;
  }
  .P-X {
    padding-right: 0;
    padding-left: 0;
  }

  .P-X{
    padding-right: 1rem;
    padding-left: 0rem;
  }
  .Ml {
    margin-left: 10px;
  }
  .fBL-w {
    width: 500px;
  }
}

@media (max-width: 430px) {
  .address-header {
    width: 55% !important;
}
  .story-content {
    padding-bottom: 3.5rem;
  }
  .customer-1 {
    top: 11rem;
    left: 4%;
  }
  .customer-2 {
    top: 9rem;
    right: 40%;
  }
  .customer-3 {
    top: 1rem;
    left: 21%;
  }
  .customer-4 {
    top: 8rem;
    right: 5%;
  }
  .customer-5 {
    bottom: 6rem;
    left: 3%;
  }
  .customer-6 {
    bottom: 4rem;
    left: 48%;
  }
  .customer-7 {
    bottom: 10rem;
    right: 4%;
  }
  .customer-8 {
    left: 30%;
    bottom: 12rem;
  }
  .line-1 {
    top: 6rem;
    left: 39%;
  }
  .line-2 {
    bottom: 11rem;
    right: 20%;
  }
  .services-text p {
    margin-top: -130px;
    letter-spacing: 0.1rem;
    font-size: 14px;
  }
  .service-img-layer1,
  .service-img-layer2,
  .service-img-layer3 {
    height: 15.125rem;
  }
  .new-design img {
    width: 19rem;
    height: 18rem;
  }
  .design-spot-1 {
    right: 215px;
  }
  .design-spot-2 {
    left: 190px;
  }
  .desgin-px {
    padding-right: 4rem !important;
    padding-left: 0rem !important;
  }
  .form-input {
    width: 100%;
  }
  .fBL-w {
    width: 400px;
  }
}
@media (max-width: 380px) {
  .image {
    width: 5.5rem;
  }
  .customer-5 {
    bottom: 5.5rem;
    left: 2%;
  }
  .customer-8 {
    left: 24%;
  }
  .new-design img {
    width: 15rem;
    height: 14rem;
  }
  .design-spot-1 {
    right: 165px;
    top: -10px;
  }
  .design-spot-2 {
    left: 125px;
    top: -20px;
  }
  .services-text p {
    margin-top: -120px;
    letter-spacing: 0.1rem;
    font-size: 14px;
  }
  .service-img-layer1,
  .service-img-layer2,
  .service-img-layer3 {
    height: 15.125rem;
  }
  .fBL-w {
    width: 350px;
  }
}

@media (max-width: 330px) {
  .story-content {
    padding-bottom: 1rem;
  }
  .image {
    width: 5rem;
  }
  .customer-2 {
    top: 8rem;
  }
  .customer-3 {
    top: 2rem;
    left: 17%;
  }
  .customer-5 {
    bottom: 7.5rem;
    left: 2%;
  }
  .customer-6 {
    bottom: 5rem;
    left: 43%;
  }
  .customer-7 {
    bottom: 11rem;
    right: 4%;
  }
  .customer-8 {
    left: 29%;
    bottom: 13rem;
  }

  .line-2 {
    bottom: 12rem;
    right: 8%;
  }

  .service-img-layer1,
  .service-img-layer2,
  .service-img-layer3 {
    height: 12.125rem;
  }
  .services-text p {
    margin-top: -100px;
  }
  .P-X {
    padding-right: 2rem;
    padding-left: 1rem;
  }
  .new-design img {
    width: 12rem;
    height: 12rem;
  }

  .design-spot-2 {
    left: 105px;
    top: -15px;
  }
  .design-spot-1 {
    right: 115px;
    top: -10px;
  }
  .design-spot-2 {
    left: 80px;
    top: -15px;
  }
  .fBL-w {
    width: 300px;
  }
}
