---
import logo from "/image/logo.svg";
---

<div>
  <div class="address">
    <img src={logo} alt="Logo" />
  </div>
  <div>
    <div>
      <i class="bi bi-geo-alt-fill"></i>
      <p>No-E5,Market Garden Road,Myeik 14051, Myanmar(Burma)</p>
    </div>
    <div>
      <i class="bi bi-telephone-fill"></i>
      <p>+959 428-770634</p>
    </div>
  </div>
</div>
