---
import logo from "/image/logo.svg";
import "../style/style.css";
---

<div class="container text-center mt-5 mb-3">
  <div class="row d-flex justify-content-center mb-3">
    <div class="col-12 col-md-10 col-lg-10">
      <div class="text-center">
        <img src={logo} alt="Logo" class="w-25"/>
      </div> 

      <div class="row d-fl8x justify-content-center address mt-5">
        <div class="col-12 col-lg-6 col-md-8 d-flex">
          <i class="bi bi-geo-alt-fill pe-3"></i>
          <p>No-E5,Market Garden Road,Myeik 14051, Myanmar(Burma)</p>
        </div>
      </div>
      <div class="row d-flex justify-content-center address mt-3">
        <div class="col-12 col-lg-6 col-md-8 d-flex">
          <i class="bi bi-telephone-fill pe-3"></i>
          <p>+959 428-770634</p>
        </div>
      </div>
    </div>
  </div>
</div>
