---
import CollectionIteam from "./Collection_iteam.astro";
---

<section class="collections mb-5" id="collections">
  <div class="container">
    <h1 class="text-center mb-5">Collections</h1>
    <div class="row d-flex">
      <div class="col-12 col-md-6 col-lg-4 images">
        <CollectionIteam
          title="Rings"
          img_url="/image/Rings.jpg"
          alt="rings"
          id="rings"
          href="/rings"
        />
      </div>
      <div class="col-12 col-md-6 col-lg-4 images">
        <CollectionIteam
          title="Engage Rings"
          img_url="/image/Engage Rings.jpg" href="/engage" alt="engage rings"
        />
      </div>
      <div class="col-12 col-md-6 col-lg-4 images">
        <CollectionIteam
          title="Necklace"
          img_url="/image/necklace.jpg" href="/necklace" alt="necklace"
        />
      </div>
      <div class="col-12 col-md-6 col-lg-4 mt-2 images">
        <CollectionIteam
          title="Earrings"
          img_url="/image/Earrings.jpg" href="earring" alt="earring"
        />
      </div>
      <div class="col-12 col-md-6 col-lg-4 mt-2 images">
        <CollectionIteam
          title="Bracelets"
          img_url="/image/Bracelet.jpg" href="bracelet" alt="bracelet"
        />
      </div>
      <div class="col-12 col-md-6 col-lg-4 mt-2 images">
        <CollectionIteam title="Lockets" img_url="/image/Locket.jpg" href="locket" alt="locket"/>
      </div>
    </div>
  </div>
</section>
