---
import CollectionIteam from "./Collection_iteam.astro";
---

<section id="Collection" class="collections mb-5">
  <div class="container">
    <h1 class="text-center mb-5">Collections</h1>
    <div class="row d-flex">
      <div class="col-12 col-md-6 col-lg-4 images">
        <CollectionIteam title="Rings" img_url="/public/image/Rings.jpg" />
      </div>
      <div class="col-12 col-md-6 col-lg-4 images">
        <CollectionIteam
          title="Engage Rings"
          img_url="/public/image/Engage Rings.jpg"
        />
      </div>
      <div class="col-12 col-md-6 col-lg-4 images">
        <CollectionIteam
          title="Necklace"
          img_url="/public/image/necklace.jpg"
        />
      </div>
      <div class="col-12 col-md-6 col-lg-4 mt-2 images">
        <CollectionIteam
          title="Earrings"
          img_url="/public/image/Earrings.jpg"
        />
      </div>
      <div class="col-12 col-md-6 col-lg-4 mt-2 images">
        <CollectionIteam
          title="Bracelets"
          img_url="/public/image/Bracelet.jpg"
        />
      </div>
      <div class="col-12 col-md-6 col-lg-4 mt-2 images">
        <CollectionIteam title="Lockets" img_url="/public/image/Locket.jpg" />
      </div>
    </div>
  </div>
</section>
