---
import FooterCollect from "./FooterCollect.astro";
---

<section id="contact" class="contact py-4">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 my-3 ">
        <iframe
          src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fdigitalzeekwet&tabs&width=500&height=130&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=false&appId"
          width="500"
          height="130"
          style="border: none; overflow: hidden"
          scrolling="no"
          frameborder="0"
          allowfullscreen="true"
          allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
        ></iframe>
      </div>
      
      <FooterCollect/>

      <div class="col-12 col-lg-4 my-3 contact-info">
        <h4 class="mb-3">Contact Info</h4>
        <div class="">
          <div class="d-flex gap-2 mb-3">
            <i class="bi bi-geo-alt-fill fs-5"></i>
            <p>No-E5, Market Garden Road, Myeik 14051, Myanmar (Burma)</p>
          </div>
          <div class="d-flex gap-2 mb-3 contact-phone">
            <i class="bi bi-telephone-fill fs-5"></i>
            <a class="text-decoration-none" href="tel:+959428770634"
              >+959 428-770-634</a
            >
          </div>
          <div class="d-flex gap-2 mb-3 contact-mail">
            <i class="bi bi-envelope-fill fs-5"></i>
            <a
              class="text-decoration-none"
              href="mailto:info@digitalzeekwet.com">info@digitalzeekwet.com</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
