<section>
    <div class="container">
      <h1 class="text-center mb-5">Collections</h1>
      <div class="row d-flex">
          <div class="col-12 col-md-6 col-lg-4">
              <img src="./assets/Rings.jpg" alt="rings" class="w-100 image">
              <p class="fs-3  mt-2">
                  <a href=""class="text-black">Rings</a>
              </p>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
              <img src="./assets/Engage Rings.jpg" alt="Engage Ring" class="w-100 image">
              <p class="fs-3  mt-2">
                  <a href="" class="text-black">Engage Rings</a>
              </p>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
              <img src="./assets/necklace.jpg" alt="Necklace" class="w-100 image">
              <p class="fs-3  mt-2">
                  <a href="" class="text-black">Necklace</a>
              </p>
          </div>
          <div class="col-12 col-md-6 col-lg-4 mt-3">
              <img src="./assets/Earrings.jpg" alt="Earrings" class="w-100 image">
              <p class="fs-3  mt-2">
                  <a href="" class="text-black">Earrings</a>
              </p>
          </div>
          <div class="col-12 col-md-6 col-lg-4 mt-3">
              <img src="./assets/Bracelet.jpg" alt="Bracelets" class="w-100 image">
              <p class="fs-3 mt-2">
                  <a href="" class="text-black">Bracelets</a>
              </p>
          </div>
          <div class="col-12 col-md-6 col-lg-4 mt-3">
              <img src="./assets/Locket.jpg" alt="Lockets" class="w-100 image">
              <p class="fs-3 mt-2">
                  <a href="" class="text-black">Lockets</a>
              </p>
          </div>
      </div>
    </div>
  </section>