---
---

<section id="design">
  <div class="container mt-7">
    <div class="row">
      <div class="col-12 col-lg-6 d-flex justify-content-center">
        <div class="Design_layout position-relative">
          <div class="layout Design_img-1">
            <img src="/image/design-1.png" alt="Jewellery" />
          </div>
          <div class="layout Design_img-2">
            <img src="/image/design-2.png" alt="Jewellery" />
          </div>
          <div class="layout Design_img-3">
            <img src="/image/design-3.png" alt="Jewellery" />
          </div>
          <div class="layout Design_img-4">
            <img src="/image/design-4.png" alt="Jewellery" />
          </div>
          <div class="position-absolute spot">
            <img src="/image/spot-design.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 Design-content">
        <h2 class="text-center text-lg-start">
          ဆန်းသစ်သော Design
        </h2>
        <div
          class="d-flex justify-content-center fs-5"
        >
          <p>
            Lörem ipsum prepoliga Sofie Björklund polytropi tetrede
            trende. Fakusade öfenönade: messa och epikyktig
            halvtaktsjobb, adade.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>