---
---

  <section>
    <div>
      <div class="Design_img">
        <div class="">
          <img src="/image/design-1.png" alt="Jewellery">
        </div>
        <div class="">
          <img src="/image/design-2.png" alt="Jewellery">
        </div>
        <div class="">
          <img src="/image/design-3.png" alt="Jewellery">
        </div>
        <div class="">
          <img src="/image/design-4.png" alt="Jewellery">
        </div>
        <div class="">
          <img src="/image/spot-design.svg" alt="Jewellery">
        </div>
      </div>
      <div class="Design_content">
        <h2 class="">ဆန်းသစ်သော Design</h2>
        <div>
          <p>
            Lörem ipsum prepoliga Sofie Björklund polytropi tetrede trende.
            Fakusade öfenönade: messa och epikyktig halvtaktsjobb, adade.
          </p>
        </div>
      </div>
    </div>
  </section>
