---
import FooterCollect from "./FooterCollect.astro";
import FooterContact from "./FooterContact.astro";
---

<section class="Footer ">
  <div class="container">
    <div class="row d-flex justify-content-center py-5">
      <div class="col-12 col-lg-6 my-3">
        <iframe
          src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fdigitalzeekwet&tabs&width=500&height=130&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=false&appId"
          width="500"
          height="150"
          class="fBL-w"
          style="border: none; overflow: hidden"
          scrolling="no"
          frameborder="0"
          allowfullscreen="true"
          allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
        ></iframe>
      </div>

      <FooterCollect />

      <FooterContact />
    </div>
  </div>
</section>
