---
---

<nav
  class="navbar header navbar-expand-lg navbar-light position-sticky sticky-top shadow">
  <div class="container-fluid justify-content-end">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center">
      <ul class="navbar-nav fs-3">
        <li class="nav-item">
          <a class="nav-link text-white active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/service">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#collections">Collections</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
