---
---

<section class="home">
  <div class="nav_bar">
    <nav>
        <a href="/" class="header"><p>Home</p></a>
        <a href="" class="header"><p>Services</p></a>
        <a href="" class="header"><p>Collections</p></a>
        <a href="" class="header"><p>Contact</p></a>
    </nav>
  </div>
</section>
