---
---

<section class="home">
  <div class="nav_bar">
    <nav>
        <a href="/" class=""><p>Home</p></a>
        <a href="" class=""><p>Services</p></a>
        <a href="" class=""><p>Collections</p></a>
        <a href="" class=""><p>Contact</p></a>
    </nav>
  </div>
</section>
