---
---

<!-- <nav
  class="navbar header navbar-expand-lg navbar-light position-sticky sticky-top"
  id="home-header"
>
  <div class="container-fluid justify-content-end">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav fs-3" id="menu">
        <li class="nav-item head-item">
          <a class="nav-link active" aria-current="page" href="#Home">Home</a>
        </li>
        <li class="nav-item head-item">
          <a class="nav-link" href="./service.html">Services</a>
        </li>
        <li class="nav-item head-item">
          <a class="nav-link" href="#collection">Collections</a>
        </li>
        <li class="nav-item head-item">
          <a class="nav-link" href="./contact.html">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<nav class="header_kat navbar navbar-expand-lg ">
    <div class="container-fluid justify-content-between">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-end"
        id="navbarNavAltMarkup"
      >
        <div class="navbar-nav fs-3 pe-">
          <a class="nav-link" aria-current="page" href="/">Home</a>
          <a class="nav-link px-lg-5 px-0" href="">Services</a>

          <a class="nav-link" href="">Collections</a>
          <a class="nav-link px-lg-5 px-0" href="">Contact</a>
        </div>
      </div>
    </div>
  </nav>