---

---
<section>
    <div
      class=" happy-customer position-relative d-flex justify-content-center align-items-center"
    >
      <h1>Our happy Customer's</h1>
      <div class="position-absolute customer-1 z-n1">  
        <img src="/image/customer-1.png" alt="customer-1" class="image" />
      </div>
      <div class="position-absolute customer-2 z-n1">
        <img src="/image/customer-2.png" alt="customer-2" class="image" />
      </div>
      <div class="position-absolute customer-3 z-n1">
        <img src="/image/customer-3.png" alt="customer-3" class="image" />
      </div>
      <div class="position-absolute customer-4 z-n1">
        <img src="/image/customer-4.png" alt="customer-4" class="image" />
      </div>
      <div class="position-absolute customer-5 z-n1">
        <img src="/image/customer-5.png" alt="customer-5" class="image" />
      </div>
      <div class="position-absolute customer-6 z-n1">
        <img src="/image/customer-6.png" alt="customer-6" class="image" />
      </div>
      <div class="position-absolute customer-7 z-n1">
        <img src="/image/customer-7.png" alt="customer-7" class="image" />
      </div>
      <div class="position-absolute customer-8 z-n1">
        <img src="/image/customer-8.png" alt="customer-8" class="image" />
      </div>
      <div class="position-absolute line-1">
        <img src="/image/line1.svg" alt="customer-8" class="line" />
      </div>
      <div class="position-absolute line-2">
        <img src="/image/line2.svg" alt="customer-8" class="line" />
      </div>
      
    </div>
  </section>